---
layout: default
---



<div class="posts">
  {% for post in site.posts %}
    <article class="post">

      <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>

      <div class="entry">
        {{ post.excerpt }}
      </div>
     <!-- <p> {{ post.date | date: "%B %e, %Y" }} </p> -->
      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>


<h1>Related Posts</h1>
<div id="archives">
{% for post in site.posts %}
  <h4><a href="{{ site.baseurl }}{{ post.url }}"> {{ post.date | date: "%B %e, %Y" }} » {{post.title}}</a></h4>
{% endfor %}
</div>