/* Add your own custom styles here */
.content {
	color: #C3C3C3;
}



.content :where(code):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  color: #BFACE2;
}


.content :where(h2):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  color: #BFACE2;
}

.content :where(h2, h3, h4, h5, h6, h7):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
	color: #BFACE2;

}
