/* Add your own custom styles here */

.content :where(h3):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  font-size: 2.1em;
}


/* Light mode */
.content {
  color: #4c4c4c;
}

.content :where(code):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  color: #B974DC;
  font-weight: bold;
}

.content :where(h2, h3, h4, h5, h6, h7):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  color: #B974DC;
}

.content :where(blockquote):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  color: #4c4c4c;
}


/* Dark mode */
.content:where(.dark, .dark *) {
  color: #bbb;
}

.content:where(.dark, .dark *) :where(code):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  color: #B974DC; /* you can adjust if you want different dark mode color */
}

.content:where(.dark, .dark *) :where(h2, h3, h4, h5, h6, h7):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  color: #B974DC; /* or a different color for dark mode */
}

.content:where(.dark, .dark *) :where(blockquote):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  color: #bbb;
}



